#todo-list li div.gwt-Label {
	word-break: break-word;
	padding: 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-ms-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

#todo-list li.completed div.gwt-Label {
	color: #a9a9a9;
	text-decoration: line-through;
}

#todo-list li .toggle:after {
	display: none;
}

#todo-list * li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px dotted #ccc !important;
}

